*{
    --bg: #1c1c1c;
    --font: #ccc;
}
body{
    background: var(--bg);
    margin: 0;
    padding: 0;
}
.user span{
    font-size: 20px;
}
.user{
    flex-direction: column;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font);
}
.user li{
    list-style: none;
    color: var(--font);
}
.message-box input{
    margin: 0;
    /* bottom: 0; */
    display: block;
    /* justify-content: end; */
    margin-bottom: 0;
}